* {
  font-family: sans-serif;
}
p {
  font-size: 12px;
}
html, body {
  padding: 0;
  margin: 0;
  background: #000;
}
body {
  color: #FFF;
  width: 1000px;
  margin: 0 auto;
}
#content {
  width: 850px;
  margin: 0 auto;
}
header {
  height: 317px;
  background: url('../img/header-850.jpg') no-repeat #000;
}
footer {
  clear: both;
  text-align: center;
}
.clear {
  clear: both;
}
nav ul {
  list-style: none;
  margin: 8px auto;
  padding: 0;
}
nav .active a {
  color: #FFF;
}
a {
  color: #55F;
}
nav .active a:hover {
  cursor: default;
}
nav li {
  float: left;
  margin-right: 15px;
}
nav a {
  text-decoration: none;
}
nav:after, .dogInfo {
  content: "";
  display: table;
  clear:both;
}
.dogInfo {
  /* display: none; */
  margin: 12px 0;
}
.dogInfo.active {
  display: block;
}
.dogInfo h1 {
  font-size: 16px;
}
.dogInfo h2 {
  font-size: 14px;
}
.dogInfo .thumbs {
  list-style: none;
  padding: 0;
}
.dogInfo .thumbs li {
  float: left;
  margin: 0 10px 15px 0;
}
.dogInfo .videos {
  clear: left;
}
.dogInfo iframe {
  margin: 5px 0;
}
.dogInfo .videos p {
  margin-bottom: 0;
}