* {
  font-family: sans-serif;
}
p {
  font-size: 12px;
}
html, body {
  padding: 0;
  margin: 0;
  background: #000;
}
body {
  color: #FFF;
  width: 1000px;
  margin: 0 auto;
}
#content {
  width: 850px;
  margin: 0 auto;
}
header {
  height: 327px;
  background: url('../img/header.jpg') no-repeat #000;
}
nav ul {
  list-style: none;
  margin: 8px auto;
  padding: 0;
}
nav .active a {
  color: #FFF;
}
a {
  color: #55F;
}
nav .active a:hover {
  cursor: default;
}
nav li {
  float: left;
  margin-right: 15px;
}
nav a {
  text-decoration: none;
}
nav:after {
  content: "";
  display: table;
  clear:both;
}